

html{
  
  margin: 0;
  padding: 0;
}

.homepage-container{
  height: 100%;
  margin: 0;
  background-image: url('src/assets/journey.jpg');
  background-size : cover;
  background-position: center;
  color: #fff; /* Text color on top of the background image */
}

.App nav {
  padding-top: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; /* Ensure it stays on top */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App nav button {
  font-size: larger;
  color: white;
  text-decoration: none;
  margin-left: 20px; /* Adjust spacing between links */
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease, padding 0.3s ease, border 0.3s ease; /* Add transition for color, padding, and border */
}
.App nav button:hover {
  color: #a39f9f; /* Change text color on hover */
  border: 2px solid white; /* Add border on hover */
  padding: 8px 12px; /* Add padding around the text on hover */
  border-radius: 10px; /* Round the borders */
}
.homepage-container{
  height: 100%;
  padding-top: 200px;
}
.LoginPage{
  padding-top: 200px; 
  font-size: large;
}

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(46, 45, 45);
}

.login-form {
  background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  margin-bottom: 20px; /* Add space between form and "Don't have an account" text */
  width: 300px; /* Set the width of the form */
}

.form-group {
  margin-bottom: 20px; /* Add space between form groups */
}

.form-group label {
  display: block;
  margin-bottom: 5px; /* Add space between label and input */
}

.form-group input {
  width: calc(100% - 22px); /* Adjust the width of the input to prevent it from exceeding the form's width */
  padding: 10px;
  border: 1px solid rgb(76, 72, 72);; /* White borders */
  border-radius: 5px; /* Rounded corners */
  background-color: transparent; /* Transparent background */
  color: rgb(76, 72, 72);;
  outline: none; /* Remove default outline */
}

.form-group input::placeholder {
  color: rgb(76, 72, 72);;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(76, 72, 72);; /* White borders */
  border-radius: 5px; /* Rounded corners */
  background-color: transparent; /* Transparent background */
  color: rgb(76, 72, 72);;
  cursor: pointer;
  outline: none; /* Remove default outline */
}

button[type="submit"]:hover {
  background-color: rgb(76, 72, 72);;
  color:white;
}

.error-message {
  color: red;
}
